apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: account
  namespace: dododuck
  labels:
    app: account-svc
spec:
  replicas: 2
  selector:
    matchLabels:
      app: account-svc
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: account-svc
    spec:
      serviceAccountName: account
      containers:
        - name: account-svc
          image: nirajgeorgian/account:latest
          imagePullPolicy: "Always"
          resources:
            requests:
              cpu: 100m
          ports:
            - name: grpc
              containerPort: 3001
          env:
            - name: DATABASEURI
              value: "host=salt.db.elephantsql.com user=pvhdolsp dbname=pvhdolsp password=WPSXt41F15pPgpTx-0V7CC6Ec5ALoyvL sslmode=disable"
            - name: PORT
              value: 3001
status: {}
---
apiVersion: v1
kind: Service
metadata:
  name: account-svc
  namespace: dododuck
spec:
  selector:
    app: account-svc
  clusterIP: None
  ports:
    - port: 3001
      targetPort: 3001
      name: grpc
